.callbackFormUser label {
    width: 30%;
    font-size: 1rem;
    color: rgb(44, 2, 2);
}

.callbackFormUser input {
    width: 70%;
    padding: 5px 0px;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 2px solid brown;
}

.callbackFormUser input [type=submit]{
    background-color: brown;
    border: none;
    color: white;
    width: 60%;
    padding: 8px 36px;
    
}
.callbackFormUser .form_title {
    margin: 10px;
    margin-top: 20px;
}



.callbackFormUser .formTable{
    background: rgb(94, 27, 27);
    border: 2px solid rgb(31, 2, 2);
    color: white;
    margin: auto;
    width: 30%;
    border-radius: 2px;
}

.callbackFormUser .formTable:hover{
    color: rgb(255, 255, 255);
    transition: 0.1s;
    background:#3d1515;
    border: 2px solid rgb(58, 5, 5);
}

.callbackFormUser .formTable:active{
    list-style: none;
    color:  rgb(216, 216, 216);
    transition: 0.1s;
    background: #701d1d;
    border: 2px solid rgb(73, 13, 13);
    box-shadow: 0 1px 1px rgba(122, 25, 25, 0.979) inset, 0 0 8px rgba(192, 31, 31, 0.6);
    outline: 0 none;
  }
.callbackFormUser .formTable:focus{
   border-color: rgba(102, 34, 34, 0.8);
   box-shadow: 0 1px 1px rgba(122, 25, 25, 0.979) inset, 0 0 8px rgba(192, 31, 31, 0.6);
   outline: 0 none;
   
  }