*{
  margin: 0;
  padding: 0;
} 

html,
body {
  width: 100%;
  position: relative;
  min-height: 100vh;
  clear: both;
	height: 100%;
  min-width: 980px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App {
  text-align: center;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 /*---------header---------*/

.App-header{

  height: 20hv;
  width: 100%;

}

.App-header_letf {
  float: left;
  height: 150px;
  margin: 10px, 5px;
}

.App-logo{
  height: 100px;
}

.App-header_center{
  float: left;
  width: 47%;
  height: 180px;
  color: brown;
  margin: 10px, 5px;
  font-family: 'Muli', sans-serif;
}

.App-header_center h3{
  color: rgb(230, 76, 76);
  padding: 0px;
  

}

.App-header_right{
  float: right;
  height: 150px;
  padding-right: 10px;
  margin: 5px, 5px; 
  font-size: 12px;
}

.email_contact :hover{
  text-decoration-color: none;
  color: rgba(165, 42, 42, 0.562);
  
     
}

 h2, h3, h4, h5, p, a{
  color: brown;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  
     
}

.top_menu{
  list-style: none;
  width: 100%;
  justify-content: space-around;
  float: left;
  display: flex;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: #d8d8d8;
  margin-bottom: 0px;
   
}

.top_menu li{
  display: inline-block;
  position: relative;
  padding: 10px 10px;
}

.top_menu li a{
  text-align: left;
  padding: 5px;
  padding-right: 10px;
  padding-left: 0px;
  color: rgb(138, 13, 13);
  transition: 1s;
  border-right: 1px solid rgb(103, 33, 33);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.top_menu li, a :hover{
  color: rgb(103, 23, 23);
  font-weight: 800;
  transition: 0.5s;
  font-size: 20px;
}



.top_menu  a.active, a.wfm-active {
  font-weight: bold;
  color: rgb(202, 63, 63);
  font-size: 20px;
}

.fas{
  margin: 0px;
}

a:not(.noBr) {
  border: none;
}

.noBr {
  text-decoration: none;
  
}

li .pos{
  padding: 20px  5px;
}


/*---------content---------*/

.content {
  float: left;
  clear:both;
  background: #f6f6f6;
  display: block;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  position: relative;
  min-width: 980px; 
  padding: 10px;
}

/*---------callback---------*/

.callback_email div{
  border-radius:50%;
}
.callback-bt {
  background:#38a3fd;
  border:2px solid #38a3fd;
  border-radius:50%;
  box-shadow:0 8px 10px rgba(56,163,253,0.3);
  cursor:pointer;
  height:68px;
  text-align:center;
  width:68px;
  position: fixed;
  right: 8%;
  bottom: 18%;
  z-index:999;
  transition:.3s;
  -webkit-animation:hoverWave linear 1s infinite;
  animation:hoverWave linear 1s infinite;
}

.callback-bt .text-call{
  height:68px;
  width:68px;        
  border-radius:50%;
  position:relative;
  overflow:hidden;
}

.callback-bt .text-call span {
width:66px; 
color:#38a3fd;
opacity: 0;
font-size: 0;
  position:absolute;
  right: 4px;
  top: 22px;
line-height: 14px;
  font-weight: 600;
text-transform: uppercase;
transition: opacity .3s linear;
font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
opacity: 1;
  font-size: 11px;
}
.callback-bt:hover i {
display:none;
}

.callback-bt:hover {
  z-index:1;
  background:#fff;
  color:transparent;
  transition:.3s;
}
.callback-bt:hover i {
  color:#38a3fd;
  font-size:40px;
  transition:.3s;
}
.callback-bt i {
  color:#fff;
  font-size:34px;
  transition:.3s;
  line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt i  {
animation: 1200ms ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
  -webkit-animation: 1200ms ease 0s normal none 1 running shake;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
  0% {
  box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
  box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
  box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
  box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}@keyframes hoverWave {
  0% {
  box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
  box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
  box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
  box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}

/* animations icon */

@keyframes shake {
0% {
transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
}
10% {
transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  -webkit-transform: rotateZ(-30deg);
}
20% {
transform: rotateZ(15deg);
  -ms-transform: rotateZ(15deg);
  -webkit-transform: rotateZ(15deg);
}
30% {
transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  -webkit-transform: rotateZ(-10deg);
}
40% {
transform: rotateZ(7.5deg);
  -ms-transform: rotateZ(7.5deg);
  -webkit-transform: rotateZ(7.5deg);
}
50% {
transform: rotateZ(-6deg);
  -ms-transform: rotateZ(-6deg);
  -webkit-transform: rotateZ(-6deg);
}
60% {
transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  -webkit-transform: rotateZ(5deg);
}
70% {
transform: rotateZ(-4.28571deg);
  -ms-transform: rotateZ(-4.28571deg);
  -webkit-transform: rotateZ(-4.28571deg);
}
80% {
transform: rotateZ(3.75deg);
  -ms-transform: rotateZ(3.75deg);
  -webkit-transform: rotateZ(3.75deg);
}
90% {
transform: rotateZ(-3.33333deg);
  -ms-transform: rotateZ(-3.33333deg);
  -webkit-transform: rotateZ(-3.33333deg);
}
100% {
transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
}
}

@-webkit-keyframes shake {
0% {
transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
}
10% {
transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  -webkit-transform: rotateZ(-30deg);
}
20% {
transform: rotateZ(15deg);
  -ms-transform: rotateZ(15deg);
  -webkit-transform: rotateZ(15deg);
}
30% {
transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  -webkit-transform: rotateZ(-10deg);
}
40% {
transform: rotateZ(7.5deg);
  -ms-transform: rotateZ(7.5deg);
  -webkit-transform: rotateZ(7.5deg);
}
50% {
transform: rotateZ(-6deg);
  -ms-transform: rotateZ(-6deg);
  -webkit-transform: rotateZ(-6deg);
}
60% {
transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  -webkit-transform: rotateZ(5deg);
}
70% {
transform: rotateZ(-4.28571deg);
  -ms-transform: rotateZ(-4.28571deg);
  -webkit-transform: rotateZ(-4.28571deg);
}
80% {
transform: rotateZ(3.75deg);
  -ms-transform: rotateZ(3.75deg);
  -webkit-transform: rotateZ(3.75deg);
}
90% {
transform: rotateZ(-3.33333deg);
  -ms-transform: rotateZ(-3.33333deg);
  -webkit-transform: rotateZ(-3.33333deg);
}
100% {
transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
}
}

/*email-contact*/

.email-bt {
  background:#F95C18;
  border:2px solid #F95C18;
  border-radius:50%;
  box-shadow:0 8px 10px rgba(249,92,24,0.3);
  cursor:pointer;
  height:68px;
  text-align:center;
  width:68px;
  position: fixed;
  left: 8%;
  bottom: 18%;
  z-index:999;
  transition:.3s;
  -webkit-animation:email-an linear 1s infinite;
  animation:email-an linear 1s infinite;
}
.email-bt a{
  border-radius:50%;
}

.email-bt .text-call{
  height:68px;
  width:68px;        
  border-radius:50%;
  position:relative;
  overflow:hidden;
}

.email-bt .text-call span {
width: 66px;
color:#F95C18;
opacity: 0;
font-size: 0;
  position:absolute;
  right: 4px;
  top: 22px;
line-height: 14px;
  font-weight: 600;
text-transform: uppercase;
transition: opacity .3s linear;
font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.email-bt .text-call:hover span {
opacity: 1;
  font-size: 11px;
}
.email-bt:hover i {
display:none;
}

.email-bt:hover {
  z-index:1;
  background:#fff;
  transition:.3s;
}
.email-bt:hover i {
  color:#38a3fd;
  font-size:40px;
  transition:.3s;
}
.email-bt i {
  color:#fff;
  font-size:29px;
  transition:.3s;
  line-height: 66px;
}

.email-bt i  {
  -webkit-animation: opsimple 3s infinite;
  animation: opsimple 3s infinite;
}

@-webkit-keyframes email-an {
  0% {
  box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 0 rgba(249,92,24,0.2),0 0 0 0 rgba(249,92,24,0.2)
}
40% {
  box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 15px rgba(249,92,24,0.2),0 0 0 0 rgba(249,92,24,0.2)
}
80% {
  box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 26.7px rgba(249,92,24,0.067)
}
100% {
  box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 40px rgba(249,92,24,0.0)
}
}@keyframes email-an {
  0% {
  box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 0 rgba(249,92,24,0.2),0 0 0 0 rgba(249,92,24,0.2)
}
40% {
  box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 15px rgba(249,92,24,0.2),0 0 0 0 rgba(249,92,24,0.2)
}
80% {
  box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 26.7px rgba(249,92,24,0.067)
}
100% {
  box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 40px rgba(249,92,24,0.0)
}
}

@keyframes opsimple {
0% {
opacity: 0;
}
40% {
opacity: 1;
}

80% {
opacity: 1;
}
100% {
opacity: 0;
}
}

@-webkit-keyframes opsimple {
0% {
opacity: 0;
}
40% {
opacity: 1;
}
80% {
opacity: 1;
}
100% {
opacity: 0;
}
}
/* конец кнопки звязи */

/*---------footer---------*/
.footer{
  list-style: none;
  justify-content: space-around;
  display: flex;
  background: rgb(131, 131, 131);
  height: 80px;
  width: 100%;
  margin-top: -80px;
  position: relative;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.footer li a{
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  transition: 1s;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  
}

.footer li :hover{
  color: rgb(103, 23, 23);
  font-weight: 800;
  transition: 0.5s;
  font-size: 14px;
}

.footer a.active, a.wfm-active {
  font-weight: 600;
  font-size: 14px;
}

#okno {
  width: 300px;
  height: 400px;
  text-align: center;
  padding: 15px;
  border: 3px solid #0000cc;
  border-radius: 10px;
  color: #0000cc;
  display: none;
}
#okno:target {display: block;}
