*{
  margin: 0;
  padding: 0;
} 

html,
body {
	height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App {
  text-align: center;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 /*---------header---------*/

.App-header{

  height: 20hv;
  width: 100%;

}

.App-header_letf {
  float: left;
  height: 150px;
  margin: 10px, 5px;
}

.App-logo{
  height: 100px;
}

.App-header_center{
  float: left;
  width: 50%;
  height: 180px;
  color: brown;
  margin: 10px, 5px;
  font-family: 'Muli', sans-serif;
}

.App-header_center h3{
  color: rgb(230, 76, 76);
  padding: 0px;
  

}

.App-header_right{
  float: right;
  height: 150px;
  padding-right: 10px;
  margin: 5px, 5px; 
  width: 20%;
  font-size: 12px;
}

.contacts h3, p, a{
  color: brown;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
     
}

 h2, h3, h4, h5, p, a{
  color: brown;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  
     
}

.top_menu{
  list-style: none;
  width: 100%;
  justify-content: space-around;
  float: left;
  display: flex;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: #d8d8d8;
  margin-bottom: 0px;
   
}

.top_menu li{
  display: inline-block;
  position: relative;
  padding: 10px 10px;
}

.top_menu li a{
  text-align: left;
  padding: 5px;
  padding-right: 10px;
  padding-left: 0px;
  color: rgb(138, 13, 13);
  transition: 1s;
  border-right: 1px solid rgb(103, 33, 33);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.top_menu li :hover{
  color: rgb(103, 23, 23);
  font-weight: 800;
  transition: 0.5s;
  font-size: 20px;
}

.top_menu  a.active, a.wfm-active {
  font-weight: bold;
  color: rgb(202, 63, 63);
  font-size: 20px;
}

.fas{
  margin: 0px;
}

a:not(.noBr) {
  border: none;
}

.noBr {
  text-decoration: none;
  
}

li .pos{
  padding: 20px  5px;
}


/*---------content---------*/

.content {
  float: left;
  clear:both;
  background: #f6f6f6;
  display: block;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  position: relative;
  min-width: 980px; 
  padding: 10px;
}

.call{
    position: fixed;
    margin-left: 83%;
    margin-top: 50vh;
    width: 45px;
}

.call i{
    position: fixed;
    height: 45px;
    width: 45px;
    text-align: center;
    border: 2px solid brown;
    border-radius: 5px;  
}

.call  :hover{
  color: rgb(103, 23, 23);
  font-weight: 800;
  transition: 1.0 s;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}


.fa-phone{
    font-size: 40px;
    margin:  auto;
    
}

/*---------footer---------*/
.footer{
  list-style: none;
  justify-content: space-around;
  display: flex;
  background: rgb(131, 131, 131);
  height: 80px;
  width: 100%;
  margin-top: -80px;
  position: relative;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.footer li a{
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  transition: 1s;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  
}

.footer li :hover{
  color: rgb(103, 23, 23);
  font-weight: 800;
  transition: 0.5s;
  font-size: 14px;
}

.footer a.active, a.wfm-active {
  font-weight: 600;
  font-size: 14px;
}


